@model Sistema_MVC_Grupo_X.Models.Semestre
@{
    ViewBag.Title = "AgregarEditar";
}

<h2>Agregar Editar</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Semestre/Index">Semestre</a>
        </li>
        <li class="breadcrumb-item active">
            @(Model.semestre_id > 0 ? Model.nombre : "Nuevo Registro")
        </li>
    </ol>
</nav>
@using (Html.BeginForm("Guardar", "Semestre", FormMethod.Post, new { id = "frm-semestre" }))
{
    @Html.HiddenFor(x => x.semestre_id)
    <div class="card">
        <div class="card-header">Información del semestre</div>
        <div class="card-body">
            <div class="form-group">
                @Html.Label("Id")
                @Html.TextBoxFor(x => x.semestre_id, new
           { @class = "form-control", disabled = true })
            </div>
            <div class="form-group">
                @Html.Label("Semestre")
                @Html.TextBoxFor(x => x.nombre, new
           { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.nombre, null,
             new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Año")
                @Html.TextBoxFor(x => x.anio, new
           { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.anio, null,
             new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Estado")
                <select name="estado" class="form-control">
                    <option @(Model.estado == "" ? "Selected" : "") value="">Seleccione</option>
                    <option @(Model.estado == "A" ? "Selected" : "A") value="A">Activo</option>
                    <option @(Model.estado == "I" ? "Selected" : "I") value="I">Inactivo</option>
                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/Semestre" class="btn btn-danger">Cancelar</a>

    </div>
}