@model Sistema_MVC_Grupo_X.Models.Semestre
@{
    ViewBag.Title = "AgregarEditar";
}
<section class="content-header">
    <h1>
        Agregar Editar
        <small>Semestre</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Semestre/Index"><i class="fa fa-dashboard"></i> Semestre</a></li>
        <li class="active"> @(Model.semestre_id > 0 ? Model.nombre : "Nuevo Registro")<li>
    </ol>
</section>
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content container-fluid">

    @using (Html.BeginForm("Guardar", "Semestre", FormMethod.Post, new { id = "frm-semestre" }))
    {
        @Html.HiddenFor(x => x.semestre_id)
    <div class="box">
        <div class="box-header  with-border">Información del semestre</div>
        <div class="box-body">
            <div class="form-group">
                @Html.Label("Id")
                @Html.TextBoxFor(x => x.semestre_id, new
                { @class = "form-control", disabled = true })
            </div>
            <div class="form-group">
                @Html.Label("Semestre")
                @Html.TextBoxFor(x => x.nombre, new
                { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.nombre, null,
                new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Año")
                @Html.TextBoxFor(x => x.anio, new
                { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.anio, null,
                new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Estado")
                <input id="estadoCheckbox" type="checkbox" data-toggle="toggle" @(Model.estado == "A" ? "checked" : "") 
                       data-on="Activo" data-off="Inactivo" data-size="large" data-onstyle="success" data-offstyle="danger" data-width="100%">
                <input name="estado" id="estado" type="hidden" value="@(Model.estado == "A" ? "A" : "I")">
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Grabar</button>
            <a href="~/Semestre" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
    }
</section>
