@model Sistema_MVC_Grupo_X.Models.Evidencia

@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>

<div>
    <h4>Evidencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.semestre_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semestre_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.archivoRuta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.archivoRuta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.evidencia_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
