@model Sistema_MVC_Grupo_X.Models.Asignacion
@{
    List<Sistema_MVC_Grupo_X.Models.Semestre> semestre = ViewBag.Semestre;
    ViewBag.Title = "AgregarEditar";
}

<h2>Agregar Editar</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Control/Index">Asignacion</a>
        </li>
        <li class="breadcrumb-item active">
            @(Model.asignacion_id > 0 ? Model.titulo : "Nuevo Registro")
        </li>
    </ol>
</nav>
@using (Html.BeginForm("Guardar", "Asignacion", FormMethod.Post, new { id = "frm-asignacion" }))
{
    @Html.HiddenFor(x => x.asignacion_id)
    <div class="card">
        <div class="card-header">Información de Asignacion</div>
        <div class="card-body">   
            <div class="container">
                <div class="row">
                    <div class="form-group col-4">
                        @Html.Label("Id")
                        @Html.TextBoxFor(x => x.asignacion_id, new
                        { @class = "form-control", disabled = true })
                    </div>
                    <div class="form-group col-4">
                        @Html.Label("Semestre")
                        <select name="semestre_id" class="form-control">
                            <option @(Model.semestre_id.Equals("") ? "Selected" : "") value="">
                                -- Seleccione --
                            </option>
                            @foreach (var s in semestre)
                            {
                                <option @(Model.semestre_id.Equals(s.semestre_id) ? "Selected" : "") value="@s.semestre_id">@s.nombre</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.semestre_id, null,
                                                 new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-4">
                        @Html.Label("Fecha de Creacion")
                        @Html.TextBoxFor(x => x.fecharegistro, "{0:dd/MM/yyyy}", new
                        { @class = "form-control", @id = "date-picker", })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-9">
                        @Html.Label("Titulo")
                        @Html.TextBoxFor(x => x.titulo, new
                        { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.titulo, null,
                                                 new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-3">
                        @Html.Label("Estado")
                        <input id="estadoCheckbox" type="checkbox" data-toggle="toggle" @(Model.estado == "A" ? "checked" : "")
                               data-on="Activo" data-off="Inactivo" data-size="normal" data-onstyle="success" data-offstyle="danger" data-width="100%">
                        <input name="estado" id="estado" type="hidden" value="@(Model.estado == "A" ? "A" : "I")">
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <br />
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/Asignacion" class="btn btn-danger">Cancelar</a>
    </div>
}
<hr />
