@model List<Sistema_MVC_Grupo_X.Models.Asignacion>
@{
    ViewBag.Title = "Index";
}
<h2 class="card text-center">Gestión de Asignacion</h2>
<br />
<div class="text-right">
    <a href="~/Asignacion/AgregarEditar/" class="btn btn-secondary text-right">
        Nuevo Registro
    </a>
</div>
<br />
<div class="text-right">
    <a href="~/Asignacion/ExportarPDF/" class="btn btn-secondary text-right">
        Generar reporte pdf
    </a>
</div>

<br />
<table class="table" id="tablaIndex" style="width:100%">
    <thead>
        <tr>
            <th style="width:50px; text-align:center">Id</th>
            <th style="width:80px; text-align:center">Semestre</th>
            <th style="width:100px; text-align:center">Titulo</th>
            <th style="width:80px; text-align:center">Fecha de Registro</th>
            <th style="width:80px; text-align:center">Estado</th>
            <th style="width:200px; text-align:center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <th style="text-align:center">@(a.asignacion_id)</th>
                <th style="text-align:center">@(a.Semestre.nombre)</th>
                <th style="text-align:center">@(a.titulo)</th>
                <th style="text-align:center">@(a.fecharegistro.Value.ToString("dd/MM/yyyy"))</th>
                <th style="text-align:center">@(a.estado == "A" ? "Activo" : "Inactivo")</th>
                <th style="text-align:center; align-content:center">
                    <a href="~/Asignacion/Visualizar/@a.asignacion_id"
                       class="btn btn-xs btn-warning" style="padding:inherit">Visualizar</a>
                    <a href="~/Asignacion/AgregarEditar/@a.asignacion_id"
                       class="btn btn-xs btn-primary" style="padding:inherit">Modificar</a>
                    <a href="~/Asignacion/Eliminar/@a.asignacion_id"
                       class="btn btn-xs btn-danger" style="padding:inherit"
                       onclick="return confirm('¿Esta seguro de eliminar ...?');">Eliminar</a>
                </th>
            </tr>
        }
    </tbody>
</table>
<hr />