@model Sistema_MVC_Grupo_X.Models.Asignacion

@{
    List<Sistema_MVC_Grupo_X.Models.Semestre> semestre = ViewBag.Semestre;
    List<Sistema_MVC_Grupo_X.Models.Docente> docente = ViewBag.Docente;
    List<Sistema_MVC_Grupo_X.Models.Criterio> criterio = ViewBag.Criterio;
    List<Sistema_MVC_Grupo_X.Models.DetalleAsignacion> detalleAsignacion = ViewBag.DetalleAsignacion;
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Asignacion/Index">Asignacion</a>
        </li>
        <li class="breadcrumb-item active">@Model.titulo</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header">
        Información detallada de asignación
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>@Model.asignacion_id</dd>
            <dt>Semestre</dt>
            <dd>@Model.Semestre.nombre</dd>
            <dt>Titulo</dt>
            <dd>@Model.titulo</dd>
            <dt>Fecha de creacion</dt>
            <dd>@Model.fecharegistro.Value.ToString("dd/MM/yyyy")</dd>
            <dt>Estado</dt>
            <dd>@(Model.estado == "A" ? "Activo" : "Inactivo")</dd>
        </dl>
    </div>
</div>
<hr />
