@model Sistema_MVC_Grupo_X.Models.Docente
@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Docente/Index">Docente</a>
        </li>
        <li class="breadcrumb-item active">@(Model.nombre + " " + Model.apellido)</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        Información detallada del docente
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>@Model.docente_id</dd>
            <dt>Código</dt>
            <dd>@Model.docente_codigo</dd>
            <dt>Dni</dt>
            <dd>@Model.dni</dd>
            <dt>Apellido</dt>
            <dd>@Model.apellido</dd>
            <dt>Nombre</dt>
            <dd>@Model.nombre</dd>
            <dt>Sexo</dt>
            <dd>@(Model.sexo == "M" ? "Masculino" : "Femenino")</dd>
            <dt>Email</dt>
            <dd>@Model.email</dd>
            <dt>Celular</dt>
            <dd>@Model.celular</dd>
            <dt>Cargo</dt>
            <dd>@Model.cargo</dd>
            <dt>Condicion</dt>
            <dd>@Model.condicion</dd>
            <dt>Categoria</dt>
            <dd>@Model.categoria</dd>
            <dt>Foto</dt>
            <dd>@Model.foto</dd>
            <dt>Estado</dt>
            <dd>@(Model.estado == "A" ? "Activo" : "Inactivo")</dd>
        </dl>
    </div>
</div>
<hr />