@model List<Sistema_MVC_Grupo_X.Models.Control>
@{
    ViewBag.Title = "Index";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Gestión de Control</h1>
    <ol class="breadcrumb">
        <li><a href="~/Control/AgregarEditar/"><i class="fa fa-dashboard"></i> Control</a></li>
        <li class="active"> Index</li>
    </ol>
</section>
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content container-fluid">
    <div class="box">
        <div class="box-header with-border">
            <div class="text-right">
                <a href="~/Control/AgregarEditar/" class="btn btn-success text-right">Nuevo Registro</a>
            </div>
            <br />
        </div>
        <div class="box-body">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:50px; text-align:center">Id</th>
                        <th style="width:80px; text-align:center">Semestre</th>
                        <th style="width:100px; text-align:center">Titulo</th>
                        <th style="width:80px; text-align:center">Fecha de Creacion</th>
                        <th style="width:80px; text-align:center">Estado</th>
                        <th style="width:200px; text-align:center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        <tr>
                            <th style="text-align:center">@(c.control_id)</th>
                            <th style="text-align:center">@(c.Semestre.nombre)</th>
                            <th style="text-align:center">@(c.titulo)</th>
                            <th style="text-align:center">@(c.fechacreacion.Value.ToString("dd/MM/yyyy"))</th>
                            <th style="text-align:center">@(c.estado == "A" ? "Activo" : "Inactivo")</th>
                            <th style="text-align:center; align-content:center">
                                <a href="~/Control/Visualizar/@c.control_id"
                                   class="btn btn-xs btn-warning" style="padding:inherit">Visualizar</a>
                                <a href="~/Control/AgregarEditar/@c.control_id"
                                   class="btn btn-xs btn-primary" style="padding:inherit">Modificar</a>
                                <a href="~/Control/Eliminar/@c.control_id"
                                   class="btn btn-xs btn-danger" style="padding:inherit"
                                   onclick="return confirm('¿Esta seguro de eliminar ...?');">Eliminar</a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
