@model List<Sistema_MVC_Grupo_X.Models.Control>
@{
    ViewBag.Title = "Index";
}

<h2 class="card text-center">Gestión de Control</h2>
<br />
<div class="text-right">
    <a href="~/Control/AgregarEditar/" class="btn btn-secondary text-right">
        Nuevo Registro
    </a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th style="width:50px; text-align:center">Id</th>
            <th style="width:80px; text-align:center">Semestre</th>
            <th style="width:100px; text-align:center">Titulo</th>
            <th style="width:80px; text-align:center">Fecha de Creacion</th>
            <th style="width:80px; text-align:center">Estado</th>
            <th style="width:200px; text-align:center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <th style="text-align:center">@(c.control_id)</th>
                <th style="text-align:center">@(c.Semestre.nombre)</th>
                <th style="text-align:center">@(c.titulo)</th>
                <th style="text-align:center">@(c.fechacreacion.Value.ToString("dd/MM/yyyy"))</th>
                <th style="text-align:center">@(c.estado == "A" ? "Activo" : "Inactivo")</th>
                <th style="text-align:center; align-content:center">
                    <a href="~/Control/Visualizar/@c.control_id"
                       class="btn btn-xs btn-warning" style="padding:inherit">Visualizar</a>
                    <a href="~/Control/AgregarEditar/@c.control_id"
                       class="btn btn-xs btn-primary" style="padding:inherit">Modificar</a>
                    <a href="~/Control/Eliminar/@c.control_id"
                       class="btn btn-xs btn-danger" style="padding:inherit"
                       onclick="return confirm('¿Esta seguro de eliminar ...?');">Eliminar</a>
                </th>
            </tr>
        }
    </tbody>
</table>
<hr />