@model Sistema_MVC_Grupo_X.Models.Control
@{
    ViewBag.Title = "Visualizar";
}
<section class="content-header">
    <h1>Visualizar</h1>
    <ol class="breadcrumb">
        <li><a href="~/Control/Index"><i class="fa fa-dashboard"></i> Control</a></li>
        <li class="active"> @Model.titulo</li>
    </ol>
</section>
<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            Información detallada del control
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>Id</dt>
                <dd>@Model.control_id</dd>
                <dt>Semestre</dt>
                <dd>@Model.Semestre.nombre</dd>
                <dt>Titulo</dt>
                <dd>@Model.titulo</dd>
                <dt>Fecha de creacion</dt>
                <dd>@Model.fechacreacion.Value.ToString("dd/MM/yyyy")</dd>
                <dt>Estado</dt>
                <dd>@(Model.estado == "A" ? "Activo" : "Inactivo")</dd>
            </dl>
        </div>
    </div>
</section>
