@model Sistema_MVC_Grupo_X.Models.Usuario
@{
    ViewBag.Title = "Visualizar";
}
<section class="content-header">
    <h1>Visualizar</h1>
    <ol class="breadcrumb">
        <li><a href="~/Usuario/Index"><i class="fa fa-dashboard"></i> Usuario</a></li>
        <li class="active"> @Model.nombre</li>
    </ol>
</section>
<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            Información detallada del semestre
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>Id</dt>
                <dd>@Model.usuario_id</dd>
                <dt>Docente</dt>
                <dd>@Model.Docente.nombre @Model.Docente.apellido</dd>
                <dt>Usuario</dt>
                <dd>@Model.nombre</dd>
                <dt>Nivel</dt>
                <dd>@Model.nivel</dd>
                <dt>Estado</dt>
                <dd>@(Model.estado == "A" ? "Activo" : "Inactivo")</dd>
            </dl>
        </div>
    </div>
</section>
