@model Sistema_MVC_Grupo_X.Models.Modelo
@{
    ViewBag.Title = "AgregarEditar";
}
<section class="content-header">
    <h1>
        <a href="~/Modelo/Index">Modelo</a>
        <small>Demasiada abstración</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Modelo/Index"><i class="fa fa-dashboard"></i> Modelo</a></li>
        <li class="active"> 
            @(Model.modelo_id > 0 ? Model.nombre : "Nuevo Registro")
        </li>
    </ol>
</section>
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content container-fluid">
    @using (Html.BeginForm("Guardar", "Modelo", FormMethod.Post, new { id = "frm-modelo" }))
    {
        @Html.HiddenFor(x => x.modelo_id)
    <div class="box">
        <div class="box-header with-border">Información del Modelo</div>
        <div class="box-body">
            <div class="form-group">
                @Html.Label("Id")
                @Html.TextBoxFor(x => x.modelo_id, new { @class = "form-control", disabled = true })
            </div>
            <div class="form-group">
                @Html.Label("Modelo")
                @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Descripción")
                @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Estado")

                <select name="estado" class="form-control">
                    <option @(Model.estado == "" ? "Selected" : "" ) value="">Seleccione</option>
                    <option @(Model.estado == "A" ? "Selected" : "" ) value="A">Activo</option>
                    <option @(Model.estado == "I" ? "Selected" : "" ) value="I">Inactivo</option>
                </select>
                @Html.ValidationMessageFor(x => x.estado, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Grabar</button>
            <a href="~/Modelo" class="btn btn-danger">Cancelar</a>
        </div>
     </div>
     }
</section>