@model Sistema_MVC_Grupo_X.Models.Modelo
@{
    ViewBag.Title = "Visualizar";
}

<h2>Modelo</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Modelo/Index">Modelo</a>
        </li>
        <li class="breadcrumb-item active">@Model.nombre</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        Información detallada del Modelo
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>@Model.modelo_id</dd>
            <dt>Nombre</dt>
            <dd>@Model.nombre</dd>
            <dt>Descripción</dt>
            <dd>@Model.descripcion</dd>
            <dt>Estado</dt>
            <dd>@(Model.estado == "A" ? "Activo" : "Inactivo")</dd>
        </dl>
    </div>
</div>
<hr />